<div class="main">

    <div class="browser-notification" [ngClass]="{'browser-notification-active':browserNotification.currentNotification().show}">
        <div class="ui visible message black">
            <p>{{browserNotification.currentNotification().message}}</p>
        </div>

    </div>

    <div class="ui secondary large top menu">
        <div class="header item">
            <!-- <img src="img/home.png"> -->

        </div>

        <div class="right menu">
            <a class="item" routerLink="/integrations" routerLinkActive="active">
                <!-- <i class="ui icon user"></i> -->
                Integrations
            </a>
            <a class="item" routerLink="/devices" routerLinkActive="active">
                <!-- <i class="ui icon zmdi zmdi-notifications"></i> -->
                Devices
            </a>
            <a class="item" routerLink="/rules" routerLinkActive="active">
                <!-- <i class="ui icon zmdi zmdi-notifications"></i> -->
                Rules
            </a>


            <!-- <a class="item">
                My notifications
            </a>
            <a class="item">
                Browse
            </a>
            <div class="ui right dropdown item">
                Account
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">Build your own notification</div>
                    <div class="item">Logout</div>
                </div>
            </div> -->
        </div>
    </div>

    <div class="content">
        <router-outlet></router-outlet>

    </div>
</div>
