
@maxWidth: 760px;

@blue: #2185D0;

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.main {
    max-width: @maxWidth;
    margin: auto;
    padding-top: 20px;
    // text-align: center;
}

.ui.icon.zmdi {
    font-family: 'Material-Design-Iconic-Font'!important;
}


h1.header {
    // margin: 0 0 -2px!important;
    // padding: .85714286em 1.14285714em!important;
    //margin: 0!important;
    // padding: 0!important;
}

.content {
    // padding-top: 20px;
}

.loader.blue {
    &:after {
        border-color: @blue transparent transparent !important ;
    }
}
