<div class="main">

    <div class="ui secondary large top menu">
        <div class="header item">
            <!-- <img src="img/home.png"> -->

        </div>

        <div class="right menu">
            <a class="item" routerLink="/notifications" routerLinkActive="active">
                <!-- <i class="ui icon zmdi zmdi-notifications"></i> -->
                Notifications
            </a>
            <a class="item" routerLink="/services" routerLinkActive="active">
                <!-- <i class="ui icon user"></i> -->
                Services
            </a>
            <!-- <a class="item">
                My notifications
            </a>
            <a class="item">
                Browse
            </a>
            <div class="ui right dropdown item">
                Account
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">Build your own notification</div>
                    <div class="item">Logout</div>
                </div>
            </div> -->
        </div>
    </div>

    <div class="content">
        <router-outlet></router-outlet>

    </div>
</div>
