<div class="rule-add" *ngIf="!formDisplayed" >
    <button class="ui primary button" (click)="toggleAddRule()">
      Add new rule
    </button>
</div>

<div class="rule-new" *ngIf="formDisplayed" >
    <div class="ui three top attached steps">
      <div class="step rule-new-step-header" [ngClass]="{'active': createRuleStep == 'integration'}" (click)="createRuleStep = 'integration'">
        <i class="ui zmdi zmdi-cloud icon"></i>
        <div class="content">
          <div class="title">Input</div>
          <div class="description">Choose an input</div>
        </div>
      </div>
      <div class="step rule-new-step-header" [ngClass]="{'active': createRuleStep == 'media', disabled:createRuleMaxStep == 'integration'}" (click)="createRuleStep = 'media'">
        <i class="ui zmdi zmdi-notifications-active icon"></i>
        <div class="content">
          <div class="title">Output</div>
          <div class="description">Choose an output</div>
        </div>
      </div>
      <div class="step rule-new-step-header" [ngClass]="{'active': createRuleStep == 'name', 'disabled': (createRuleMaxStep == 'integration' || createRuleMaxStep == 'media')}" (click)="createRuleStep = 'name'">
        <i class="ui zmdi zmdi-check icon"></i>
        <div class="content">
          <div class="title">Name</div>
          <div class="description">Find a sexy name</div>
        </div>
      </div>
    </div>
    <div class="ui attached segment">
        <div class="rule-new-step rule-new-step-integration" [hidden]="createRuleStep != 'integration'">
            <div class="field">
                <select class="ui dropdown search" dropdown required [(ngModel)]="integration" name="integration">
                  <option value="">Integration</option>
                  <option class="item" *ngFor='let service of services.list()' [ngValue]="service">{{service.notification}}</option>
                </select>
            </div>
            <div class="rule-new-step-add-condition" [hidden]="integrationConditionDisplayed" (click)="integrationConditionDisplayed=true">Add condition</div>
            <div class="rule-new-step-condition">
                <div class="ui form" [hidden]="!integrationConditionDisplayed">
                    <div class="field" >
                       <label>Condition</label>
                       <textarea rows="2" [(ngModel)]="integrationCondition"></textarea>
                     </div>
                </div>
            </div>
        </div>
        <div class="rule-new-step rule-new-step-media" [hidden]="createRuleStep != 'media'">
            <div class="field">
                <select class="ui dropdown search" dropdown [(ngModel)]="media">
                  <option value="">Device</option>
                  <option class="item" *ngFor='let notification of notifications.list()' [ngValue]="notification">{{notification.notification}}</option>
                </select>
            </div>
            <div class="rule-new-step-add-condition" [hidden]="deviceConditionDisplayed" (click)="deviceConditionDisplayed=true">Add condition</div>
            <div class="rule-new-step-condition">
                <div class="ui form" [hidden]="!deviceConditionDisplayed">
                    <div class="field" >
                       <label>Condition</label>
                       <textarea rows="2" [(ngModel)]="deviceCondition"></textarea>
                     </div>
                </div>
            </div>
        </div>
        <div class="rule-new-step rule-new-step-name" [hidden]="createRuleStep != 'name'">
            <div class="field">
                <div class="ui input">
                    <input class="rule-new-step-name-input" type="text" [(ngModel)]="ruleName" placeholder="Ex: major mails warning">
                </div>
            </div>
        </div>
        <div class="rule-new-buttons">
            <button class="ui primary button right labeled icon" *ngIf="createRuleStep == 'integration'" [disabled]="integration == null" (click)="nextStep()">
                <i class="right arrow icon"></i>
              Next
            </button>
            <button class="ui primary button right labeled icon" *ngIf="createRuleStep == 'media'" [disabled]="media == null" (click)="nextStep()">
                <i class="right arrow icon"></i>
              Next
            </button>
            <button class="ui primary button right labeled icon" *ngIf="createRuleStep == 'name'" [disabled]="ruleName.length < 3">
                <i class="checkmark icon"></i>
              Save
            </button>
        </div>
    </div>
</div>
