<!-- <div class="ui icon message">
  <i class="inbox icon"></i>
  <div class="content">
    <div class="header">
      Have you heard about our mailing list?
    </div>
    <p>Get the best news in your e-mail every day.</p>
  </div>
</div> -->
<div class="titem-list">

    <div class="titem" *ngFor='let service of services.list()'>
        <div class="ui segment">
            <!-- <div class="service-action">
                <button class="ui button primary">Add</button>
            </div> -->

            <div class="titem-logo">
                <i class="ui icon {{service.icon}} big"></i>
            </div>

            <div class="titem-content">
                <div class="titem-title">{{service.name}}</div>
                <div class="titem-description">
                    {{service.description}}
                </div>
            </div>
        </div>
    </div>
</div>
